<form [formGroup]="forma">
  
    <mat-form-field >
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Título" formControlName="titulo">
    </mat-form-field>
  
    <mat-form-field >
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="Descripcion" formControlName="desc"></textarea>
    </mat-form-field>

    <button (click)="guardarCambios()"  class="btn" mat-raised-button color="primary">Editar</button>
    <button (click)="onNoClick()" type="button" mat-raised-button color="warn">Cancelar</button>

  </form>