<mat-card>
    <mat-card-title>Mapas con Angular Material</mat-card-title>
    
    <!-- <google-map></google-map> -->
    <agm-map (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]="15">
        <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat" [longitude]="marcador.lng">
            <agm-info-window>

                <strong>{{marcador.titulo}}</strong>
                <p>
                   {{marcador.desc}}
                </p>
                
                <div>
                    <button (click)="editarMarcador(marcador)" class="btn" mat-raised-button color="primary">Editar</button>
                    <button (click)="borrarMarcador(i)" mat-raised-button color="warn">Borrar</button>
                </div>

            </agm-info-window>
        </agm-marker>
    </agm-map>

</mat-card>

